<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">今日の投稿数</th>
      <th scope="col">前日の投稿数</th>
      <th scope="col">前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2</td>
      <td>0</td>
      <td>200%</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">今週の投稿数</th>
      <th scope="col">前週の投稿数</th>
      <th scope="col">前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3</td>
      <td>0</td>
      <td>300%</td>
    </tr>
  </tbody>
</table>